<%= render 'shared/header' %>

<main class="py-10 max-w-7xl mx-auto px-4 sm:px-8">
    <div class="flex justify-between align-center">
        <h1 class="text-3xl"> 
            Welcome, <span class="text-purple-600 font-semibold"><%= @user.name %><span>
        </h1>
        <div class="flex justify-end items-center  mb-4">
            <div>
            <%= render 'shared/input/buttons/secondary', color: "purple", label: "Edit", href: edit_url %>
        <a id="share-btn" onclick="n()" data-turbolinks="true" class="py-2 px-4 border-2 border-purple-600 text-purple-600 hover:border-purple-700 hover:text-purple-700 text-center text-base font-semibold shadow-md hover:shadow-none focus:outline-none rounded-lg" href="<%= "https://flexiple-submission.herokuapp.com/show/"+@user.profile.id.to_s %>">Copy link</a>

        </div>
        </div>
            </div>
    
    <%= render 'shared/profile/preview', profile: @user.profile %>
</main>